pyparsing==2.4.7
Flask
gunicorn
smartsheet-python-sdk
pandas
scrapy
whoswho
google-cloud-storage
six>=1.13.0
mailjet_rest
plotly
openpyxl
xlrd
selenium==3.141.0
selenium-requests==1.3
selenium-wire==3.0.4
cffi
google-api-python-client
gspread
basecampy3
XlsxWriter
firebase-admin
google-cloud-core
google-cloud-compute
